@import './base.css';

.section {
    display: flex;
    padding-bottom: var(--spacing-9xl);
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-7xl);
    align-self: stretch;
    margin-inline: var(--spacing-3xl);
}