/* Text sm/Semibold */
@mixin text-sm-semibold {
  font-family: var(--Font-family-font-family-body, Inter), serif;
  font-size: var(--Font-size-text-sm, 14px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
}

@mixin text-md-semibold {
  
}

/* Text md/Regular */
@mixin text-md-regular {
  font-family: var(--Font-family-font-family-body, Inter), serif;
  font-size: var(--Font-size-text-md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-height-text-md, 24px); /* 150% */
}


/* Display xs/Semibold */
@mixin display-xs-semibold {
  font-family: var(--Font-family-font-family-display, Inter), serif;
  font-size: var(--Font-size-display-xs, 24px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Line-height-display-xs, 32px); /* 133.333% */
}